$source_path: "../public";
// $source_path: "/src/public";


@font-face {
	font-family: 'quarklight';
	src: url('#{$source_path}/fonts/quark-light-webfont.eot');
	src: url('#{$source_path}/fonts/quark-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('#{$source_path}/fonts/quark-light-webfont.woff') format('woff'),
	     url('#{$source_path}/fonts/quark-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	pointer-events: none;
  user-select: none;
}


html, body {
	overflow: hidden;
	height: 100%;
}


body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: quarklight;
	font-size: 16px;
	opacity: 0;
	background:url(#{$source_path}/img/bg.jpg) no-repeat;
	background-size:140%;
	background-position:center;

	&.fade-in {
		opacity: 1;
		transition: opacity 5s;
	}
}

.shake {
	// overflow: auto;
	body {
		animation: shaking 0.8s infinite alternate;
		// overflow: auto;
	}

	.sun-aura{
		&.spin-slow {
			// display: none;
			opacity: 0;
		}
		&.spin-fast {
			// display: block;
			opacity: 1;
		}
	}
}


#logo {

	transition: 1s;

	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
	height: 200px;

	img {
		max-width: 100%;
		opacity: .2;
	}

}

#signature {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	opacity: .1;
	text-align: right;
	font-size: 12px;
	transition: 1s;
}

#lobby {
	position: absolute;
	bottom: 20px;
	left: 20px;
	transition: 1s;

	.group {
		display: inline-block;
		font-size: 24px;
		margin: 0 5px;
		color: white;
		opacity: 0.05;
		transition: 3s;

		&.active {
			opacity: .5;
		}

		&.current {
			color: orange;
			font-weight: bold;
			opacity: 1;
		}

	}
}


#message {
	position: absolute;
	width: 100%;
	top: 50%;
	padding: 100px 0;
	margin-top: -132px;
	text-align: center;
	color: white;
	text-shadow: 3px 3px black;
	z-index: 9999;
	font-size: 48px;
	font-weight: bold;
	transform: scale(0);
	transition: transform .2s, background .2s .2s;
	opacity: 0;

	&.go-in {
		transform: scale(1);
		background: rgba(0, 0, 0, 0.3);
		opacity: 1;
	}

	&.go-out {
		opacity: 0;
	}
}


.random-steady {
	#galaxy {
		transform: rotateX(-15deg);
	}
}

.clean-view {
	#logo,
	#signature,
	#lobby {
		opacity: 0;
	}
}


#galaxy{
	perspective: 1000px;
	transform-style: preserve-3d;
	position:absolute;
	left:0;top:0;right:0;bottom:0;
	transition: 2s;
}

// .random-ready {
// 	.planet {
// 		transition: 3s ease-in;
// 	}
// }

// .random-out {
// 	.planet {
// 		transition: 3s ease-out;
// 	}
// }

.center-galaxy{
	position:absolute;
	left:50%;top:50%;
}

// #sun{
// 	width:200px;height:200px;
// 	background-color:orange;
// 	border-radius:50%;
// 	transform:translate3d(-50%,-50%,0);
// 	box-shadow:0 0 20px orange;
// 	-webkit-animation: aura 2s infinite linear alternate;
// }





.null-ctrl-planet{
	width:0px;height:0px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	// transition: 2s;
	// transform:rotateZ(100deg); // *1
}
.planet{
	position: relative;
	z-index: 2;
	width:0px;height:0px;
	transform:rotateY(0deg) translate3d(0,0,200px) rotateY(0deg);
	backface-visibility: hidden;
}
.planet-out {
	transition: 1s;
	transform: rotateZ(180deg) scale(100) !important;
	opacity: 0;
}
.ground{
	width:50px;height:50px;
	transform-style: preserve-3d;

	// background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #fff 0%, #fff 100%, #ccc 95%);
	// background-image: -webkit-radial-gradient(45px 45px, circle cover, #fff, #fff);
	// background-image: radial-gradient(45px 45px 45deg, circle cover, #fff 0%, #fff 100%, #ccc 95%);
	background-color:white;

	border-radius:50%;
	text-align: center;
	color:#333;
	// color:white;
	font-size: 24px;
	font-family: sans-serif;
	line-height: 50px;
	transform-origin:left top;
	box-shadow:0 0 40px rgba(255, 255, 255, .7);
	backface-visibility: hidden;
	// transition: 2s;
	// transform:rotateZ(-100deg) translate3d(-50%,-50%,0); // *2
}


#bg{
	position:fixed;
	top: 0;
	left: 0;
	width:120%;height:120%;
	left:-10%;top:-10%;
	z-index:-1;
	background:url(#{$source_path}/img/bg.jpg) no-repeat;
	background-size:120%;
	background-position:center;
}
#sun{
	position: absolute;
	z-index: 1;
	left:0;top:0;bottom:0;right:0;
	margin:auto;
	width:0px;
	height:0px;
	animation: swing 3s infinite alternate;
	z-index: 1;
	backface-visibility: hidden;
	transform-style: preserve-3d;

	> * {
		backface-visibility: hidden;
		z-index: -1;
	}
}
#sun-glow{
	position: relative;
	left:0;top:0;
	width:120px;height:120px;
	// background-color:orange;
	border-radius:50%;
	transform:translate3d(-50%,-50%,0);
	animation: aura 2s infinite alternate;
}
.sun-aura{
	width:270px;height:270px;
	background-image:url(#{$source_path}/img/sun-aura-face-less.png);
	background-repeat:no-repeat;
	position: absolute;
	left:0;top:0;
	margin-left:-135px;
	margin-top:-135px;
	transition: 1s;

	&.spin-slow {
		animation: spin 12s infinite linear;
	}
	&.spin-fast {
		opacity: 0;
		animation: spin 1s infinite linear;
	}
}
#sun-face{
	width:270px;height:270px;
	background-image:url(#{$source_path}/img/sun-face.png);
	background-repeat:no-repeat;
	position: absolute;
	left:0;top:0;
	margin-left:-133px;
	margin-top:-135px;
}
@keyframes swing{
	0%{transform:translate3d(0,-5px,0);}
	100%{transform:translate3d(0,5px,0);}
}
@keyframes aura{
	0%{box-shadow:0 0 80px 5px orange;}
	100%{box-shadow:0 0 140px 20px orange;}
}
@keyframes spin{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@keyframes shaking{
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}



@keyframes orbit {
    0%   {transform:rotateY(0deg) translate3d(0,0,200px) rotateY(0deg);}
    100% {transform:rotateY(360deg) translate3d(0,0,200px) rotateY(-360deg);}
}

// @keyframes aura {
//     0%   {box-shadow:0 0 20px orange;}
//     100% {box-shadow:0 0 100px orange;}
// }